In [11]:
import requests
import json

# 기상청_지상(종관, ASOS) 시간자료 조회서비스 OpenAPI

In [12]:
en_key = "6POGF%2BRbOGbdSUrQ2xJ3tBudlsVz%2FVmBpM3LyWODmI8htrrZC2aF3CqcIcEz%2Bc%2FuL2WniJAbjIcBeb2PpNsbJA%3D%3D"
de_key = "6POGF+RbOGbdSUrQ2xJ3tBudlsVz/VmBpM3LyWODmI8htrrZC2aF3CqcIcEz+c/uL2WniJAbjIcBeb2PpNsbJA=="

- 기상 자료 개방포털 제공 :'ta', 'rn', 'ws', 'wd', 'hm', 'pv', 'td', 'pa', 'ps','ss', 'icsr', 'dsnw', 'dc10Tca', 'dc10LmcsCa', 'lcsCh', 'vs','dmstMtphNo', 'ts', 'm005Te', 'm01Te', 'm02Te', 'm03Te'

In [13]:
url = "http://apis.data.go.kr/1360000/AsosHourlyInfoService/getWthrDataList"
params ={'serviceKey' : de_key, 'pageNo' : '1', 'numOfRows' : '10', 'dataType' : 'JSON',
         'dataCd' : 'ASOS','dateCd' : 'HR','startDt' : '20230101','startHh' : '01',
         'endDt' : '20230120','endHh' : '01','stnIds' : '108', 'totalCount' : '1', 
         'resultCode' : '00', 'resultMsg' : 'NORMAL SERVICE', 'tm' : '20220130',
        'rnum' : '1', 'stnId' : '108','stnNm' : '서울'}

In [14]:
response = requests.get(url, params=params)
response

In [15]:
json_dt = response.json()

In [16]:
json_dt

{'response': {'header': {'resultCode': '00', 'resultMsg': 'NORMAL_SERVICE'},
  'body': {'dataType': 'JSON',
   'items': {'item': [{'tm': '2023-01-01 01:00',
      'rnum': '1',
      'stnId': '108',
      'stnNm': '서울',
      'ta': '1.5',
      'taQcflg': '',
      'rn': '',
      'rnQcflg': '',
      'ws': '1.9',
      'wsQcflg': '',
      'wd': '250',
      'wdQcflg': '',
      'hm': '71',
      'hmQcflg': '',
      'pv': '4.9',
      'td': '-3.1',
      'pa': '1018.0',
      'paQcflg': '',
      'ps': '1028.9',
      'psQcflg': '',
      'ss': '',
      'ssQcflg': '9',
      'icsr': '',
      'dsnw': '',
      'hr3Fhsc': '',
      'dc10Tca': '6',
      'dc10LmcsCa': '6',
      'clfmAbbrCd': '',
      'lcsCh': '12',
      'vs': '1104',
      'gndSttCd': '',
      'dmstMtphNo': '',
      'ts': '-1.4',
      'tsQcflg': '',
      'm005Te': '-0.3',
      'm01Te': '-0.5',
      'm02Te': '-0.5',
      'm03Te': '0.6'},
     {'tm': '2023-01-01 02:00',
      'rnum': '2',
      'stnId': '108',
      'stnNm': '서울',
      'ta': '1.5',
      'taQcflg': '',
      'rn': '',
      'rnQcflg': '',
      'ws': '1.9',
      'wsQcflg': '',
      'wd': '250',
      'wdQcflg': '',
      'hm': '72',
      'hmQcflg': '',
      'pv': '4.9',
      'td': '-3.0',
      'pa': '1017.8',
      'paQcflg': '',
      'ps': '1028.7',
      'psQcflg': '',
      'ss': '',
      'ssQcflg': '9',
      'icsr': '',
      'dsnw': '',
      'hr3Fhsc': '',
      'dc10Tca': '9',
      'dc10LmcsCa': '8',
      'clfmAbbrCd': '',
      'lcsCh': '11',
      'vs': '925',
      'gndSttCd': '',
      'dmstMtphNo': '40',
      'ts': '-1.6',
      'tsQcflg': '',
      'm005Te': '-0.3',
      'm01Te': '-0.5',
      'm02Te': '-0.5',
      'm03Te': '0.6'},
     {'tm': '2023-01-01 03:00',
      'rnum': '3',
      'stnId': '108',
      'stnNm': '서울',
      'ta': '1.6',
      'taQcflg': '',
      'rn': '',
      'rnQcflg': '',
      'ws': '1.6',
      'wsQcflg': '',
      'wd': '250',
      'wdQcflg': '',
      'hm': '74',
      'hmQcflg': '',
      'pv': '5.1',
      'td': '-2.5',
      'pa': '1018.1',
      'paQcflg': '',
      'ps': '1029.0',
      'psQcflg': '',
      'ss': '',
      'ssQcflg': '9',
      'icsr': '',
      'dsnw': '',
      'hr3Fhsc': '',
      'dc10Tca': '8',
      'dc10LmcsCa': '8',
      'clfmAbbrCd': 'Sc',
      'lcsCh': '16',
      'vs': '794',
      'gndSttCd': '',
      'dmstMtphNo': '40',
      'ts': '-1.8',
      'tsQcflg': '',
      'm005Te': '-0.3',
      'm01Te': '-0.5',
      'm02Te': '-0.5',
      'm03Te': '0.6'},
     {'tm': '2023-01-01 04:00',
      'rnum': '4',
      'stnId': '108',
      'stnNm': '서울',
      'ta': '1.5',
      'taQcflg': '',
      'rn': '',
      'rnQcflg': '',
      'ws': '1.4',
      'wsQcflg': '',
      'wd': '290',
      'wdQcflg': '',
      'hm': '74',
      'hmQcflg': '',
      'pv': '5.0',
      'td': '-2.6',
      'pa': '1018.1',
      'paQcflg': '',
      'ps': '1029.0',
      'psQcflg': '',
      'ss': '',
      'ssQcflg': '9',
      'icsr': '',
      'dsnw': '',
      'hr3Fhsc': '',
      'dc10Tca': '9',
      'dc10LmcsCa': '9',
      'clfmAbbrCd': 'Sc',
      'lcsCh': '10',
      'vs': '709',
      'gndSttCd': '',
      'dmstMtphNo': '40',
      'ts': '-1.3',
      'tsQcflg': '',
      'm005Te': '-0.2',
      'm01Te': '-0.5',
      'm02Te': '-0.5',
      'm03Te': '0.6'},
     {'tm': '2023-01-01 05:00',
      'rnum': '5',
      'stnId': '108',
      'stnNm': '서울',
      'ta': '0.8',
      'taQcflg': '',
      'rn': '',
      'rnQcflg': '',
      'ws': '2.4',
      'wsQcflg': '',
      'wd': '290',
      'wdQcflg': '',
      'hm': '62',
      'hmQcflg': '',
      'pv': '4.0',
      'td': '-5.6',
      'pa': '1018.1',
      'paQcflg': '',
      'ps': '1029.0',
      'psQcflg': '',
      'ss': '',
      'ssQcflg': '9',
      'icsr': '',
      'dsnw': '',
      'hr3Fhsc': '',
      'dc10Tca': '7',
      'dc10LmcsCa': '7',
      'clfmAbbrCd': 'Sc',
      'lcsCh': '11',
      'vs': '1185',
      'gndSttCd': '',
      'dmstMtphNo': '40',
      'ts': '-2.1',
      'tsQcflg': '',
      'm005Te': '-0.2',
      'm01Te': '-0.5',
      'm02Te': '-0.5',
      'm03Te': '0.6'},
     {'tm': '2023-01-01 06:00',
      'rnum': '6',
      'stnId': '108',
      'stnNm': '서울',
      'ta': '-0.2',
      'taQcflg': '',
      'rn': '',
      'rnQcflg': '',
      'ws': '3.1',
      'wsQcflg': '',
      'wd': '320',
      'wdQcflg': '',
      'hm': '67',
      'hmQcflg': '',
      'pv': '4.1',
      'td': '-5.5',
      'pa': '1018.4',
      'paQcflg': '',
      'ps': '1029.3',
      'psQcflg': '',
      'ss': '',
      'ssQcflg': '9',
      'icsr': '',
      'dsnw': '',
      'hr3Fhsc': '',
      'dc10Tca': '1',
      'dc10LmcsCa': '1',
      'clfmAbbrCd': 'Sc',
      'lcsCh': '14',
      'vs': '962',
      'gndSttCd': '',
      'dmstMtphNo': '40',
      'ts': '-3.3',
      'tsQcflg': '',
      'm005Te': '-0.2',
      'm01Te': '-0.5',
      'm02Te': '-0.5',
      'm03Te': '0.6'},
     {'tm': '2023-01-01 07:00',
      'rnum': '7',
      'stnId': '108',
      'stnNm': '서울',
      'ta': '-1.5',
      'taQcflg': '',
      'rn': '',
      'rnQcflg': '',
      'ws': '2.5',
      'wsQcflg': '',
      'wd': '270',
      'wdQcflg': '',
      'hm': '71',
      'hmQcflg': '',
      'pv': '3.9',
      'td': '-6.0',
      'pa': '1019.2',
      'paQcflg': '',
      'ps': '1030.2',
      'psQcflg': '',
      'ss': '',
      'ssQcflg': '9',
      'icsr': '',
      'dsnw': '',
      'hr3Fhsc': '',
      'dc10Tca': '0',
      'dc10LmcsCa': '0',
      'clfmAbbrCd': '',
      'lcsCh': '',
      'vs': '891',
      'gndSttCd': '',
      'dmstMtphNo': '40',
      'ts': '-4.1',
      'tsQcflg': '',
      'm005Te': '-0.3',
      'm01Te': '-0.5',
      'm02Te': '-0.5',
      'm03Te': '0.6'},
     {'tm': '2023-01-01 08:00',
      'rnum': '8',
      'stnId': '108',
      'stnNm': '서울',
      'ta': '-1.8',
      'taQcflg': '',
      'rn': '',
      'rnQcflg': '',
      'ws': '2.7',
      'wsQcflg': '',
      'wd': '270',
      'wdQcflg': '',
      'hm': '75',
      'hmQcflg': '',
      'pv': '4.0',
      'td': '-5.6',
      'pa': '1020.0',
      'paQcflg': '',
      'ps': '1031.0',
      'psQcflg': '',
      'ss': '0.0',
      'ssQcflg': '',
      'icsr': '0.0',
      'dsnw': '',
      'hr3Fhsc': '',
      'dc10Tca': '0',
      'dc10LmcsCa': '0',
      'clfmAbbrCd': '',
      'lcsCh': '',
      'vs': '819',
      'gndSttCd': '',
      'dmstMtphNo': '40',
      'ts': '-4.4',
      'tsQcflg': '',
      'm005Te': '-0.4',
      'm01Te': '-0.6',
      'm02Te': '-0.5',
      'm03Te': '0.6'},
     {'tm': '2023-01-01 09:00',
      'rnum': '9',
      'stnId': '108',
      'stnNm': '서울',
      'ta': '-1.7',
      'taQcflg': '',
      'rn': '',
      'rnQcflg': '',
      'ws': '2.1',
      'wsQcflg': '',
      'wd': '290',
      'wdQcflg': '',
      'hm': '75',
      'hmQcflg': '',
      'pv': '4.1',
      'td': '-5.5',
      'pa': '1020.6',
      'paQcflg': '',
      'ps': '1031.6',
      'psQcflg': '',
      'ss': '0.9',
      'ssQcflg': '',
      'icsr': '0.28',
      'dsnw': '',
      'hr3Fhsc': '',
      'dc10Tca': '0',
      'dc10LmcsCa': '0',
      'clfmAbbrCd': '',
      'lcsCh': '',
      'vs': '763',
      'gndSttCd': '',
      'dmstMtphNo': '40',
      'ts': '-3.6',
      'tsQcflg': '',
      'm005Te': '-0.5',
      'm01Te': '-0.6',
      'm02Te': '-0.5',
      'm03Te': '0.6'},
     {'tm': '2023-01-01 10:00',
      'rnum': '10',
      'stnId': '108',
      'stnNm': '서울',
      'ta': '-0.4',
      'taQcflg': '',
      'rn': '',
      'rnQcflg': '',
      'ws': '2.4',
      'wsQcflg': '',
      'wd': '270',
      'wdQcflg': '',
      'hm': '66',
      'hmQcflg': '',
      'pv': '3.9',
      'td': '-5.9',
      'pa': '1020.8',
      'paQcflg': '',
      'ps': '1031.8',
      'psQcflg': '',
      'ss': '1.0',
      'ssQcflg': '',
      'icsr': '0.83',
      'dsnw': '',
      'hr3Fhsc': '',
      'dc10Tca': '0',
      'dc10LmcsCa': '0',
      'clfmAbbrCd': '',
      'lcsCh': '',
      'vs': '938',
      'gndSttCd': '',
      'dmstMtphNo': '40',
      'ts': '-1.3',
      'tsQcflg': '',
      'm005Te': '-0.5',
      'm01Te': '-0.7',
      'm02Te': '-0.5',
      'm03Te': '0.6'}]},
   'pageNo': 1,
   'numOfRows': 10,
   'totalCount': 457}}}

In [17]:
type(json_dt)

dict

# time만 가져오기

In [20]:
temp = []
def get_api() :
    item = json_dt["response"]["body"]["items"]["item"]

for i in item:
    temp.append(i["tm"])

print(temp)

['2023-01-01 01:00', '2023-01-01 02:00', '2023-01-01 03:00', '2023-01-01 04:00', '2023-01-01 05:00', '2023-01-01 06:00', '2023-01-01 07:00', '2023-01-01 08:00', '2023-01-01 09:00', '2023-01-01 10:00']

In [21]:
time = [] # tm 을 할당할 빈리스트 생성

for key,value in json_dt.items():
    if key == "response" :
        response = json_dt[key]
        
        for key,value in response.items() :
            if key == "body" :
                body = response[key]
                
                for key,value in body.items() :
                    if key == "items" :
                        items = body[key]
                        
                        for key,value in items.items() :
                            if key == "item" :
                                item = items[key]
                                # item : List[dict, dict, dict]
                                for val in item :
                                    # value : Dict
                                    for k,v in val.items() :        
                                        if k == 'tm' :
                                            time.append(v)
print(time)

['2023-01-01 01:00', '2023-01-01 02:00', '2023-01-01 03:00', '2023-01-01 04:00', '2023-01-01 05:00', '2023-01-01 06:00', '2023-01-01 07:00', '2023-01-01 08:00', '2023-01-01 09:00', '2023-01-01 10:00']

# ta(기온), rn(강수량), ws(풍속), wd(풍향) 가져오기

In [22]:
temperature = []
precipitation = []
wind_speed = []
wind_direction = []

item = json_dt["response"]["body"]["items"]["item"]
for i in item:
    temperature.append(i['ta'])
    precipitation.append(i['rn'])
    wind_speed.append(i['ws'])
    wind_direction.append(i['wd'])
    
print(temperature)
print(precipitation)
print(wind_speed)
print(wind_direction)

['1.5', '1.5', '1.6', '1.5', '0.8', '-0.2', '-1.5', '-1.8', '-1.7', '-0.4']
['', '', '', '', '', '', '', '', '', '']
['1.9', '1.9', '1.6', '1.4', '2.4', '3.1', '2.5', '2.7', '2.1', '2.4']
['250', '250', '250', '290', '290', '320', '270', '270', '290', '270']

# DB 연결

In [23]:
import pymysql
import pickle # db 정보 가져올 모듈 불러오기

In [27]:
# pickle 모듈 이용, db 정보 가져옴
with open('/Users/bella/GitHub/FastAPI/database/db_dict.pickle','rb') as f :
    db_info = pickle.load(f)

In [28]:
db_info

{'DB_USERNAME': 'root',
 'DB_PASSWORD': 'root123',
 'DB_HOST': '52.78.168.253',
 'DB_PORT': 59543,
 'DB_DATABASE': 'cocomong'}

In [29]:
DB_USERNAME : str = db_info.get("DB_USERNAME")
DB_PASSWORD = db_info.get("DB_PASSWORD")
DB_HOST : str = db_info.get("DB_HOST","localhost")
DB_PORT : str = db_info.get("DB_PORT",3306)
DB_DATABASE : str = db_info.get("DB_DATABASE")

In [30]:
# db 연결
db = pymysql.connect(
    user = DB_USERNAME,
    passwd = DB_PASSWORD,
    host = DB_HOST,
    port = DB_PORT,
    database = DB_DATABASE
)

# MySQL 쿼리문 작성

In [9]:
# 테이블 생성 sql 정의 
sql = '''
    CREATE TABLE IF NOT EXISTS `test`(
        `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
        `time` text NULL,
        PRIMARY KEY (`id`)
    )
    ENGINE = InnoDB DEFAULT CHARSET = utf8
    '''
# 테이블 생성
with db.cursor() as cursor:
        cursor.execute(sql)

NameError: name 'db' is not defined

In [10]:
print(time)

NameError: name 'time' is not defined

In [87]:
time_1 = time[1]
time_2 = time[2]
time_3 = time[3]

In [89]:
type(time_1)

str

# db 실행 함수

In [31]:
def execute_query(query) :
    with db.cursor() as cursor:
        cursor.execute(query)
        db.commit()

# tm(time) SQL에 넣기

In [142]:
# db에 데이터 저장

# 하나씩 빼옴
for tm in time :
    tm_1 = tm
    sql_insert = f'''INSERT test(time) VALUES ('{tm_1}') '''
    
    # db에 저장!
    execute_query(sql_insert)

In [127]:
# temp1
for tm in time :
    tm_1 = tm
    print(tm_1)

2023-01-01 01:00
2023-01-01 02:00
2023-01-01 03:00
2023-01-01 04:00
2023-01-01 05:00
2023-01-01 06:00
2023-01-01 07:00
2023-01-01 08:00
2023-01-01 09:00
2023-01-01 10:00

In [106]:
tm_f

'2023-01-01 10:00'

In [70]:
type(time)

list

In [130]:
# temp so many,,,
for i in range(10) :
    i2 = i
    print(i2)

0
1
2
3
4
5
6
7
8
9

# SQL에 컬럼 추가

- 추가할 컬럼들 목록
    - temperature
    - precipitation
    - wind_speed 
    - wind_direction

- query

```
ALTER TABLE test ADD temperature FLOAT NOT NULL;
ALTER TABLE test ADD precipitation FLOAT NOT NULL;
ALTER TABLE test ADD wind_speed FLOAT NOT NULL;
ALTER TABLE test ADD wind_direction INT NOT NULL;
```

# ta(기온), rn(강수량), ws(풍속), wd(풍향) SQL 에 넣기

In [33]:
# db에 데이터 저장

# 하나씩 빼옴
for ta in temperature :
    sql_insert = f'''INSERT test(temperature) VALUES ('{ta}') '''
    
    # db에 저장!
    execute_query(sql_insert)

- 리스트의 길이 만큼 반복(4개의 배열이 길이가 같기 때문에 사옹 가능)
```
ex.
for idx in range(0, len(time)):
    tm = time[idx]
    ta = temperature[idx]
    ws = windspeed[idx]
    wd = winddirection[idx]
    print(tm, ta, ws, wd)
```
- 하나의 리스트에서 값을 빼오는 방식 
- index를 같이 가져오기 때문에 그 index를 활용하여 나머지 리스트에서 값을 가져오는 방식
```
ex.
for idx, tm in enumerate(time):
    ta = temperature[idx]
    ws = windspeed[idx]
    wd = winddirection[idx]
    print(tm, ta, ws, wd)
```

In [35]:
# 하나씩 빼옴
for ws in wind_speed :
    sql_insert = f'''INSERT test(wind_speed) VALUES ('{ws}') '''
    
    # db에 저장!
    execute_query(sql_insert)